/* List */
.user-avatar {
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.table-title {
    font-weight: bold;
}

.cursor-pointer {
    cursor: pointer;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Novo estilo */

.container {
    padding-top: 20px;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-subtitle {
    font-size: 14px;
    color: #666;
}

.small-text {
    font-size: 12px;
}

.search-input {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.search-input:focus {
    outline: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}